<a href="https://colab.research.google.com/github/Rikmameisari/Pusat-Studi-Data-Sains-UAD/blob/main/Tugas_Akhir_A_Rikma_Mei_Sari_1800015065.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Impact of Covid-19 Pandemic on the Global Economy**

#Penjelasan Dataset

Data tersebut adalah data 170 Negara yang terdampak pandemic covid-19 terhadap pereknomian Global. Didalam data ini, kita akan mengetahui bahwa pandemic covid-19 memberikan dampak yang cukup signifikan terhadap perekonomian Negara. Ada 170 Negara dengan jumlah penduduk yang beragam dan jumlah kasus positif yang berbeda disetiap Negara. **Dalam kasus ini, saya mengambil Negara-negara di Asia Tenggara sebagai bahan analisis saya**.

## Pertanyaan Analisis

1. Bagaimana pendapatan Negara Indonesia selama pandemic covid-19?
2. Berdasarkan data dampak pandemic terhadap Perekonomian Global,
Dari semua negara di Asia Tenggara, negara manakah yang memiliki pendapatan terbesar?

## Data Preparation

In [ ]:
import pandas as pd
import plotly.express as px
import numpy as np
import plotly.graph_objects as go

In [ ]:
#mengimport file csv yang sudah di upload di github
df = pd.read_csv('https://raw.githubusercontent.com/Rikmameisari/Pusat-Studi-Data-Sains-UAD/main/raw_data.csv')
df

      iso_code     location        date  ...  Unnamed: 11  Unnamed: 12  Unnamed: 13
0          AFG  Afghanistan  2019-12-31  ...        #NUM!    17.477233  7.497754494
1          AFG  Afghanistan  2020-01-01  ...        #NUM!    17.477233  7.497754494
2          AFG  Afghanistan  2020-01-02  ...        #NUM!    17.477233  7.497754494
3          AFG  Afghanistan  2020-01-03  ...        #NUM!    17.477233  7.497754494
4          AFG  Afghanistan  2020-01-04  ...        #NUM!    17.477233  7.497754494
...        ...          ...         ...  ...          ...          ...          ...
50413      ZWE     Zimbabwe  2020-10-15  ...   4.34185547    16.514381  7.549490737
50414      ZWE     Zimbabwe  2020-10-16  ...   4.34185547    16.514381  7.549490737
50415      ZWE     Zimbabwe  2020-10-17  ...   4.34185547    16.514381  7.549490737
50416      ZWE     Zimbabwe  2020-10-18  ...   4.34185547    16.514381  7.549490737
50417      ZWE     Zimbabwe  2020-10-19  ...   4.34185547    16.514381  7.549490737

[50418 rows x 14 columns]

In [ ]:
#untuk mengetahui banyaknya data setiap negara yang muncul pada colom location
df.location.value_counts()

Czech Republic     294
Estonia            294
Philippines        294
Lithuania          294
Macedonia          294
                  ...
Tajikistan         172
Comoros            171
Lesotho            158
Hong Kong           51
Solomon Islands      4
Name: location, Length: 210, dtype: int64

In [ ]:
List_location = list(pd.unique(df['location']))
List_location

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [ ]:
#dibentuk data frame baru untuk 'location' (Asia Tenggara) dari data frame df
df_VNM = df[df['location'] == 'Vietnam']
df_IDN = df[df['location'] == 'Indonesia']
df_THA = df[df['location'] == 'Thailand']
df_PHL = df[df['location'] == 'Philippines']
df_MYS = df[df['location'] == 'Malaysia']
df_SGP = df[df['location'] == 'Singapore']
df_LAO = df[df['location'] == 'Laos']
df_MMR= df[df['location'] == 'Myanmar']
df_BRN = df[df['location'] == 'Brunei']
df_TLS = df[df['location'] == 'Timor']

In [ ]:
#menjumlahkan jumlah 'gdp_per_capita' pada setiap 'location' (Asia Tenggara)
sum_VNM = df_VNM.gdp_per_capita.sum()
sum_IDN = df_IDN.gdp_per_capita.sum()
sum_THA = df_THA.gdp_per_capita.sum()
sum_PHL = df_PHL.gdp_per_capita.sum()
sum_MYS = df_MYS.gdp_per_capita.sum()
sum_SGP = df_SGP.gdp_per_capita.sum()
sum_LAO = df_LAO.gdp_per_capita.sum()
sum_MMR = df_MMR.gdp_per_capita.sum()
sum_BRN = df_BRN.gdp_per_capita.sum()
sum_TLS = df_TLS.gdp_per_capita.sum()

In [ ]:
#data untuk negara Indonesia
df_IDN[['location','date', 'total_cases', 'total_deaths','population', 'gdp_per_capita' ]]

        location        date  ...  population  gdp_per_capita
21722  Indonesia  2019-12-31  ...   273523621       11188.744
21723  Indonesia  2020-01-01  ...   273523621       11188.744
21724  Indonesia  2020-01-02  ...   273523621       11188.744
21725  Indonesia  2020-01-03  ...   273523621       11188.744
21726  Indonesia  2020-01-04  ...   273523621       11188.744
...          ...         ...  ...         ...             ...
22011  Indonesia  2020-10-15  ...   273523621       11188.744
22012  Indonesia  2020-10-16  ...   273523621       11188.744
22013  Indonesia  2020-10-17  ...   273523621       11188.744
22014  Indonesia  2020-10-18  ...   273523621       11188.744
22015  Indonesia  2020-10-19  ...   273523621       11188.744

[294 rows x 6 columns]

In [ ]:
#Melihat pendapatan negara Indonesia selama Pandemic covid-19
List_gdp = list(pd.unique(df_IDN['gdp_per_capita']))
List_gdp

[11188.743999999999]

In [ ]:
#dibentuk data frame dari gdp_per_capita pada setiap location (Asia Tenggara)
df_gdp = pd.DataFrame({"location":['Vietnam', 'Indonesia', 'Thailand', 'Philippines', 'Malaysia', 'Singapore', 'Laos', 'Myanmar', 'Brunei', 'Timor'],
              "Pendapatan":[sum_VNM, sum_IDN, sum_THA, sum_PHL, sum_MYS, sum_SGP, sum_LAO, sum_MMR, sum_BRN, sum_TLS]})
df_gdp.sort_values(['Pendapatan', 'location'], ascending=[True, False], inplace=True)
df_gdp

      location    Pendapatan
7      Myanmar  1.185419e+06
6         Laos  1.337048e+06
9        Timor  1.392862e+06
0      Vietnam  1.814534e+06
3  Philippines  2.234161e+06
1    Indonesia  3.289491e+06
2     Thailand  4.785635e+06
4     Malaysia  7.881600e+06
8       Brunei  1.601346e+07
5    Singapore  2.514740e+07

## Data Visualization

In [ ]:
gbr_data = px.bar(df_gdp,
               x = 'location',
               y = 'Pendapatan')

gbr_data.update_layout(
    title = 'Diagram Garis Jumlah pendapatan negara per-capita Selama Pandemic 2019',
    title_font_color = 'green',
    title_font_size = 30,

    xaxis = dict(
        title = 'Negara',
        titlefont_size = 16,
        tickfont_size = 9),
    
    yaxis = dict(
        title = 'jumlah pendapatan',
        titlefont_size = 16,
        tickfont_size = 14))

gbr_data.show()